/*--------------------------------------------------------------
# Start About Area
--------------------------------------------------------------*/
.about-area {
    position: relative;
    z-index: 99;
    .main-title {
        padding: 0px 30px;
        h2 {
            color: $title-color;
        }
        p {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }
    .about-img-box {
        position: relative;
        padding-bottom: 25px;
        .about-img {
            position: relative;
            z-index: 9;
        }
        &:after {
            content: '';
            background: url(../img/about-img-bg.png) no-repeat;
            position: absolute;
            left: 19px;
            top: 25px;
            right: -25px;
            bottom: 0px;
        }
    }
}

.about-page {
    .about-area {
        margin-top: 0px;
        padding-top: 130px;
        padding-bottom: 130px;
        @media (max-width: 991px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}

/*--------------------------------------------------------------
# End About Area
--------------------------------------------------------------*/
