/*--------------------------------------------------------------
# Start About Area
--------------------------------------------------------------*/
.about-area {
    background: $white;
    padding: 80px 50px;
    position: relative;
    z-index: 99;
    margin-top: -80px;
    box-shadow: 0px 20px 30px 0 rgba($title-color, 0.16);
    @media (max-width: 991px) {
        margin-top: 0;
        padding: 80px 0;
        box-shadow: none;
    }
    &.about-area2 {
        box-shadow: none;
        padding-bottom: 0px;
        @media (max-width: 991px) {
            padding-top: 0px;
        }
    }
    .main-title {
        padding: 0px 30px;
        h2 {
            color: $title-color;
        }
        p {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }
    .about-img-box {
        position: relative;
        padding-bottom: 25px;
        .about-img {
            position: relative;
            z-index: 9;
        }
        &:after {
            content: '';
            background: url(../img/about-img-bg.png) no-repeat;
            position: absolute;
            left: 19px;
            top: 25px;
            right: -25px;
            bottom: 0px;
        }
    }
}

.about-page {
    .about-area {
        margin-top: 0px;
        padding-top: 130px;
        @media (max-width: 991px) {
            padding-top: 80px;
        }
    }
}

/*--------------------------------------------------------------
# End About Area
--------------------------------------------------------------*/
