/*--------------------------------------------------------------
# Start Feature Area
--------------------------------------------------------------*/
.feature-area {
  padding-bottom: 100px;
    @media(max-width: 991px) {
        padding-bottom: 50px;
    }
}

.single-feature {
    padding: 55px 35px;
    text-align: center;
    border: 1px solid $gray;
    position: relative;
    margin-bottom: 30px;
    @include transition();
    @media(max-width: 768px) {
        padding: 30px 18px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        z-index: -1;
    }
    .top-icon {
        font-size: 60px;
    }
    h4 {
        font-size: 20px;
        font-weight: 700;
        color: $title-color;
        margin-top: 32px;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 0px;
    }
    .primary-btn {
      line-height: 44px;
    }
    &:hover {
        border-top: 1px solid $primary-color;
        border-right: 1px solid transparent;
        border-bottom: 1px solid $primary-color;
        border-left: 1px solid transparent;
        &:before {
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }
}

/*--------------------------------------------------------------
# End Feature Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Start Advance Feature Area
--------------------------------------------------------------*/
.advance-feature-area {
    position: relative;
    @media (max-width: 1630px) {
      padding-top: 120px;
    }
    @media(max-width: 991px) {
        padding-top: 80px;
    }
    .container-fluid {
      padding-left: 21%;
      @media (max-width: 1480px) {
        padding-left: 15px;
        max-width: 1140px;
      }
      @media (max-width: 1199px) {
        max-width: 960px;
      }
      @media (max-width: 991px) {
        max-width: 720px;
      }
      @media (max-width: 767px) {
        max-width: 540px;
      }
      @media (min-width: 1921px) {
        padding-left: 29%;
      }
    }
      
      .banner-img {
        text-align: right;
        position: relative;
        padding-right: 0px;
        -ms-flex-item-align: end;
        align-self: flex-end;
        @media (max-width: 1024px) {
          -ms-flex-item-align: center;
          align-self: center;
          text-align: left;
        }
      }
  }


/*--------------------------------------------------------------
# End Advance Feature Area
--------------------------------------------------------------*/