//--------- start footer Area -------------//

.footer-area {
    background-color: #06091f;

    h6 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;
    }

    p {
        color: $white;
    }

    .footer-top {
        padding: 120px 0;
        @media (max-width: 767px) {
            padding: 60px 0 40px;
        }
    }

    .footer-nav {
        li {
            margin-top: 8px;

            a {
                color: $white;
                font-weight: 400;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .footer-bottom {
        padding: 16px 0px;
        border-top: 1px solid rgba($white, 0.25);
        .footer-text {
            @media(max-width:767px) {
                text-align: center;
            }
            a {
                color: $primary-color;
            }
        }
    }
}


.footer-social {
    @media(max-width:767px) {
        margin-top: 10px;
    }
    a {
        color: $white;
        font-size: 14px;
        margin-left: 25px;
        @include transition();
        &:first-child {
            @media(max-width:767px) {
                margin-left: 0px;
            }
        }

        &:hover {
            color: $primary-color;
        }
    }
}


.single-footer-widget {
    input {
        line-height: 38px;
        border: 1px solid $gray;
        background: transparent;
        font-weight: 400;
        border-radius: 3px;
        color: #aaaaaa;
        padding-left: 20px;
        width: 100%;

        &:focus {
            outline: none;
        }

        @media(max-width:991px) {
            margin-bottom: 15px;
        }
    }

    .subscribe-btn {
        background: $primary-color;
        border: 1px solid $primary-color;
        display: block;
        width: 100%;
        color: $white;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 20px;
        cursor: pointer;
        @include transition;
        &:hover {
            background: transparent;
        }
    }

    @media(max-width:768px) {
        .newsletter {
            padding-bottom: 40px;
        }
    }

    @include placeholder {
        font-size: 13px;
        font-weight: 400;
        color: #aaaaaa;
    }


    @include media-breakpoint-down(md) {
        margin-bottom: 30px;
    }
    &.contact-widget {
        .footer-nav {
            li {
                &:nth-child(1) {
                    a {
                        &:before {
                            content: "\e621";
                        }
                    }
                }
                &:nth-child(2) {
                    a {
                        &:before {
                            content: "\e75a";
                        }
                    }
                }
                &:nth-child(3) {
                    a {
                        &:before {
                            content: "\e665";
                        }
                    }
                }
                a {
                    position: relative;
                    display: inline-block;
                    margin-left: 20px;
                    &:before {
                        font-family: 'themify';
                        position: relative;
                        left: -20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

//--------- end footer Area -------------//