.section-gap {
    padding: 130px 0px;

    @media(max-width: 991px) {
        padding: 80px 0px;
    }
}

.section-gap-top {
    padding-top: 130px;

    @media(max-width: 991px) {
        padding-top: 80px;
    }
}

.section-gap-bottom {
    padding-bottom: 130px;

    @media(max-width: 991px) {
        padding-bottom: 80px;
    }
}

.heading-title {
    font-size: 20px;
    font-weight: 700;
    color: $title-color;
    position: relative;
    margin-bottom: 49px;

    &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 60px;
        height: 2px;
        background-color: $primary-color;
    }
}

.main-title {
    margin-bottom: 90px;

    @media(max-width: 991px) {
        margin-bottom: 40px;
    }

    h3 {
        color: $primary-color;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 42px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 15px;

        @media(max-width: 767px) {
            font-size: 30px;
        }
    }

    p {
        font-size: 14px;
        color: $text-color;
        margin-bottom: 0px;
    }
}

.main-title2 {
    h3 {
        color: $title-color2;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-bottom: 18px;
        position: relative;
        padding-left: 70px;

        @media(max-width: 991px) {
            padding-left: 0px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 50px;
            height: 2px;
            background: $primary-color;

            @media(max-width: 991px) {
                display: none;
            }
        }
    }

    h2 {
        font-size: 43px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 22px;

        @media (max-width: 1630px) {
            font-size: 38px;
        }

        @media(max-width: 767px) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .color-text {
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        color: $primary-color;
        margin-bottom: 22px;
    }

    .normal-text {
        max-width: 489px;
    }

    p {
        font-size: 15px;
        color: $text-color2;
        margin-bottom: 0px;
    }
}

.primary-btn {
    background: -webkit-linear-gradient(to right, $primary-color2 0%, $primary-color 51%, $primary-color2 100%);
    background: -moz-linear-gradient(to right, $primary-color2 0%, $primary-color 51%, $primary-color2 100%);
    background: -ms-linear-gradient(to right, $primary-color2 0%, $primary-color 51%, $primary-color2 100%);
    background: -o-linear-gradient(to right, $primary-color2 0%, $primary-color 51%, $primary-color2 100%);
    background: linear-gradient(to right, $primary-color2 0%, $primary-color 51%, $primary-color 100%);
    background-size: 200% auto;
    line-height: 50px;
    padding: 0px 40px;
    border-radius: 2px;
    border: none;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.1px;
    @include transition();
    @media (max-width: 575px) {
        line-height: 40px;
        padding: 0px 25px;
    }

    &:focus {
        outline: none;
    }

    i {
        position: relative;
        display: inline-block;
        left: 5px;
        font-size: 11px;
        color: $white;
        @include transition();
    }

    &:hover {
        background-position: right center;
        color: $white;

        i {
            color: $white;
            left: 15px;
        }
    }
}

.primary-btn2 {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
    @include transition();

    i {
        position: relative;
        display: inline-block;
        left: 4px;
        font-size: 10px;
        color: $text-color;
        @include transition();
    }

    &:hover {
        color: $primary-color;
        i {
            color: $primary-color;
            left: 15px;
        }
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#back-top {
    position: fixed;
    right: 2%;
    bottom: 20px;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
    @include transition;
    a {
      background: $primary-color;
      display: block;
      text-align: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      padding: 8px;
      @media(max-width:767px) {
        width: 30px;
        height: 30px;
        padding: 4px;
    }
      i {
        font-size: 16px;
        color: $white;
      }
      &:hover {
        box-shadow: 0 8px 12px rgba( $gray, 0.4);
      }
    }
  }

  .back-top-animation {
    opacity: 1!important;
  }