
//    Font Family

$primary-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #f95902;
$primary-color2	: #ffbd4a;
$title-color	: #14303a;
$text-color		: #777777;
$gray           : #e9ebee;
$white			: #fff;
$offwhite		: #f6f6f6;
$black          : #000000;





